.UserForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: inline-block;
    width: 80%;
    margin: .5em 0em;
    height: 1.5em;
}

.terms-and-conditions {
    border: 1px solid black;
    padding: 3%;
}